{
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}